{% load crispy_forms_tags %}
<title>Google Code-In</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
<style>
.content {
	padding-top: 50px;
	padding-right: 400px;
	padding-left: 400px;
}
.btnShow{
	display:inline-block;
}
.btnHidden{
	display:none;
}
</style>
<body>
	<div class='content'>
		<div class="ui top attached segment">
			<img src="http://i.imgur.com/mLmsYnc.jpg" alt="Subscribe to my Newsletter">
		</div>
		<div class="ui attached segment stacked">
			<h1><center>{{title}}</center></h1>
			<form class="ui form" method='POST' action=''>{% csrf_token %}
				{{formData | crispy}}
				<center><input class="ui button bottom attached" type='submit' value={{exitMsg}}></input></center>
			</form>
		</div>
	</div>
</body>
</html>
<!-- <div class="ui form success">
	<div class="field">
				<label>E-mail</label>
				<input type="email" placeholder="joe@schmoe.com">
	</div>
	<div class="ui success message">
				<div class="header">Form Completed</div>
				<p>You're all signed up for the newsletter.</p>
	</div>
	<div class="ui submit button">Submit</div>
</div> -->